language: cpp
os:
- linux
install:
- echo "yes" | sudo add-apt-repository ppa:avsm/ocaml41+opam10
- travis_retry sudo apt-get update -qq; travis_retry sudo apt-get install ocaml -qq
script:
- sed -i "s|INSTALL_DIR=/usr|INSTALL_DIR=$PWD/dist/haxerb|" Makefile
- mkdir -p dist/haxerb/bin
- make
- make install
- cd dist; zip -q -r haxerb haxerb; cd ..
deploy:
  provider: releases
  api_key:
    secure: htDv2iTsZyB3pGpAyYIZw9GLR+nu4TDlt2tLontBu8b3m9WTin406QWnbhju0fuoTfVZXiqQoVjyX+0E8wQu85KzbiMbdyD9NHXNYRsaq/HjV0VTdIrJcpiLMyZvXClIncClOx3w37+dIl3PvzvM9sL7kk7wcNpBTTwQuFEuwAE=
  file: dist/haxerb.zip
  on:
    tags: true
    all_branches: true
